.spacer5{
    height: 5px;
    width: 100%;
}
.spacer20{
    height: 20px;
    width: 100%;
}
.spacer80{
    height: 80px;
    width: 100%;
}
.spacerv3{
    width: 3px;
}
.spacerv15{
    width: 15px;
}
